<?xml version='1.0' encoding='utf-8'?>
<widget id="com.betinInvestor.android" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BETIN INVESTOR </name>
    <description>
        FREE BETTING TIPS.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        BETIN INVESTOR
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access subdomains="true" uri="http://frakaapps.epizy.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <gap:plugin name="cordova-plugin-admob-simple" source="npm" />
    <gap:plugin name="onesignal-cordova-plugin" source="npm" />
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="15" />
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/320.png" />
        <icon density="hdpi" src="res/320.png" />
        <splash density="land-hdpi" src="res/320.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="~4.5.4" />
    <engine name="browser" spec="^5.0.3" />
</widget>
